<h1>Principal</h1>

    <div>
        <label for="numberAccount"><p>Número de Cuenta</p></label>
        <input type="text" id="numberAccount" value="<%= numberAccount %>" style="width: 300px;"  readonly>

        <label for="identification"><p>Identificación</p></label>
        <input type="text" id="identification" name="identification" value="<%= clientIdentificacion %>" style="width: 300px;"  readonly>

        <label for="name"><p>Nombre</p></label>
        <input type="text" id="name" name="name"  value="<%= name %> <%= lastname %>  " style="width: 300px;"  readonly>
        
        <label for="email"><p>E-mail</p></label>
        <input type="text" id="email" name="email" value="<%= email %>" style="width: 300px;"  readonly>

        <label for="balance"><p>Saldo</p></label>
        <input type="text" id="balance" name="balance" value="<%= balance %>" style="width: 300px;"  readonly>
    </div>
    <br>
    <hr>
    <hr>

    <center>
      <p style="margin: 0 auto; display: inline-block; " >PAGOS</p>
    </center>
   
    <hr>
    <hr>

    <form action="/client/payments" method="POST">

      <div>
        <label for="numberAccountT"><p>Cuenta de Origen</p></label>
        <input type="text" id="numberAccountT" name="numberAccountT" value="<%= numberAccount %>" style="width: 300px;"  readonly>

        <label for="destinationAccountT"><p>Cuenta de Destino</p></label>
        <input type="text" id="destinationAccountT" name="destinationAccountT" style="width: 300px;" >

        <p>Seleccionar el tipo de movimiento a realizar:</p>
            <input type="radio" name="movement" value="Deposit" checked > Depósito<br>
            <input type="radio" name="movement" value="Withdrawal"> Retiro<br>
            <input type="radio" name="movement" value="Payment of basic services"> Pagos de servicios básicos<br>
            <input type="radio" name="movement" value="Transfer"> Transferencia <br>

        <label for="amount"><p>Cantidad</p></label>
        <input type="text" id="amount" name="amount" style="width: 300px;" required  >

        <br>
        <button type="submit"> Realizar Pago </button>

      </div>

    </form>


        <button onclick="desconectar()" > Salir </button>

        <script type="text/javascript"  src="../components/client/login/network.js" src="../socket.js"  >

                function desconectar(){
                    pruebaDesconectar(connIP);
                    document.location.href = "/client/login";
                }

        </script>
    






<script src="/socket.io/socket.io.js"></script>

<script>


var socket = io.connect('http://172.29.64.160:3000', {
                forceNew: true,  //que las conexiones siempre sean nuevas
            })
    //console.log(socket)

    socket.on("mensaje", function(data){
        console.log(data)
    }) 
    
    socket.on("alertaIntruso", function(data){
        alert(data)
    }) 
    
    
    // ahora escucha mensajes (WebSockets)

    /*window.addEventListener('beforeunload', function (e) { 
        e.preventDefault(); 
        e.returnValue = '';
        socket.disconnect()


    }); */
</script>