<h1>Principal</h1>

<form action="/client/Login" method="GET">

    <div>
        <label for="numberAccount"><p>Number Account</p></label>
        <input type="text" id="numberAccount" value="<%= numberAccount %>" style="width: 300px;"  readonly>

        <label for="identification"><p>Identification</p></label>
        <input type="text" id="identification" name="identification" value="<%= clientIdentificacion %>" style="width: 300px;"  readonly>

        <label for="name"><p>Name</p></label>
        <input type="text" id="name" name="name"  value="<%= name %>" style="width: 300px;"  readonly>

        <label for="lastname"><p>Lastname</p></label>
        <input type="text" id="lastname" name="lastname"  value="<%= lastname %>" style="width: 300px;"   readonly>

        <label for="phone"><p>Phone</p> </label>
        <input type="text" id="phone" name="phone" value="<%= phone %>" style="width: 300px;"   readonly>

        <label for="email"><p>E-mail</p></label>
        <input type="text" id="email" name="email" value="<%= email %>" style="width: 300px;"  readonly>

        <label for="balance"><p>Balance</p></label>
        <input type="text" id="balance" name="balance" value="<%= balance %>" style="width: 300px;"  readonly>
    </div>
    <br>
    <ul>
        <li>
          <a href="/client/payment" >
            Payments
          </a>
        </li>
        <li>
          <a href="/client/search">
            Search
          </a>
        </li>
    </ul>
</form>
